      <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">HTML</h3>
        </div>
        <pre>
          <div id="myModalBody" class="modal-body">
          </div>
        </pre>
      </div>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="#">Hou</a>

      <ul class="nav pull-right">
        <li class="dropdown">
          <%- include ynote %>
        </li>
      </ul>

<% if(isYnoteAuth) { %>
      <ul class="nav pull-right">
        <span><%- username %></span>
      </ul>
<% } %>
    </div>
  </div>
</div>
